@media only screen and (max-width: 40em) {
    .playerOvr {
        float: left;
        padding-left: 30px;
    }
    .playerPosition {
       font-size: 14px;
    }

    .playerName {
        font-size: 15px;
    }

    strong.adp {
        font-size: 18px;
    }
}
