<section class="row pick">
    <span class="columns large-7">
        Pick: {{pick}}
    </span>
    <span class='reset columns large-5'>
        <a ng-click='undo()' class="button draftBtn">Undo Pick</a>
        <form novalidate class="skip">
            <input class="skipInput" type="text" placeholder="Skip to Pick" ng-model="skipToPick" />
            <input class="button skipButton" type="button" ng-click="skip(skipToPick)"   value="Skip" />
        </form>
    </span>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body draftEntry">
            <input class="draftNameInput" type="text" placeholder="Draft Name" ng-model="draftName">
            <a class="button draftEntryBtn" ng-click="startDraft(draftName)">Create a Draft Entry</a>
        </div>
    </script>
</section>

<section class="row">
    <span class="columns large-1">
        <a ng-click='draft()' class="button draftBtn ">Draft</a>
    </span>
    <span class="searchPlayers columns large-11"/>

        <angucomplete-alt id="ex1"
                  placeholder="Search Players"
                  selected-object="selectedPlayer"
                  local-data="players"
                  search-fields="name"
                  title-field="profile"
                  minlength="1"
                  input-class="searchPlayerInput"
                  input-class="form-control form-control-small"/>
    </span>
</section>
<section class="drafted row">
  <div id="players" class="columns large-12">
    <div ng-repeat="player in draftedPlayers track by player.espnID" class="player row">
      <span>
        <div class="column large-2 adpContain">
            <strong class="adp"># {{player.adp}}</strong>
        </div>
        <div class="column large-3 playerImgContain">
            <img class="playerImg" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{player.espnID}}.png" />
        </div>
        <div class="column large-3 playerName">
            {{ player.fullName }}
        </div>
        <div class="column large-1 playerPosition">
            {{ player.pos }}
        </div>
        <div class="column large-1 playerOvr">
            {{ player.ovr }}
        </div>
      </span>
    </div>
  </div>
</section>
